

  <mat-toolbar class='md-hue-1' color='primary'>
    <span>Cat Tracker</span>
    <span class='example-spacer'></span>
      <span>
        <button mat-flat-button color='accent'> login </button>
        <button mat-flat-button color='accent'> logout </button>
        <button mat-flat-button color='accent'> Register </button>
      </span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
  </mat-toolbar>

  <div class='areas-container'>
    <div class='area'>                       <!-- add cat -->
      add
    </div>              
    <div class='area'>
      modify
    </div>           <!-- modify cat -->
    <div class='area'>
      remove
    </div>           <!-- remove cat -->
    <div class='area'>
       --- 
    </div>
  </div>

