.areas-container{ 
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: solid;
    border-color: red;
  }

  .area{
    border:solid;
    border-color: yellow;
    margin:1px;
  }

.example-spacer {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  display:flex;
  flex: 1 1 auto;
}